* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.7;
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, 
    -apple-system, Helvetica, Arial, sans-serif;
    background: #232326;
    height: 8vh;
}

.logo {
    margin-left: 32px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 32px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.home_intro {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: system-ui, 
    -apple-system, Helvetica, Arial, sans-serif;
}

.home_intro a {
    text-decoration: none;
    letter-spacing: 1px;
    font-family: system-ui, 
    -apple-system, Helvetica, Arial, sans-serif;
}

.register_login a {
    display: inline;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    top: 23px;
    padding: 5px 1.3em 5px 1.3em;
    font-size: larger;
    color: #fff;
    background-color: #232326;
    border: 2px solid #232326;
    border-radius: 25px;
}

.register_login a:hover {
    background-color: #fff;
    color: #232326;
    border: 2px solid #232326;
}

.welcome {
    position: absolute;
    bottom: 50vh;
}

.welcome p {
    font-size: large;
    font-family: system-ui, 
    -apple-system, Helvetica, Arial, sans-serif;
    max-width: 400px;
}
 
.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, 
    -apple-system, Helvetica, Arial, sans-serif;
    background-image: url("/static/img/pinheiros.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    max-width: 500px;
    min-height: 50vh;
    padding: 2.5rem 3.5rem 2.5rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.container h2 {
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.input_field {
    position: relative;
}

.input_field input {
    background-color: #E9F0F1;
    outline: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 0.5px solid #E9F0F1;
    border-radius: 10px;
    font-size: large;
    font-family: Andale Mono, monospace;
}

.input_field input:hover {
    border: 0.5px solid #232326;
}

.input_field input:focus {
    border: 0.5px solid #232326;
}

.flash {
    margin-bottom: 0.5rem;
    font-size: 15px;
}

form input[type="submit"] {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem 0.5rem ;
    background-color: #224251;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    width: 10em;
    border-radius: 10px;
}

form input[type="submit"]:hover {
    border-color: #232326;
    background-color: #fff;
    color: #232326;

}
