{% extends 'index.html'%}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="home_intro">
        <div class="welcome">
            {% if not current_user.is_authenticated %}
                <h2> Welcome! </h2>
                <p>Here you will be able to register and keep your personal projects safe and secure.</p>
                <div class="register_login">
                    <a href="{{ url_for('register_user')}}"> Register</a>
                    <a class="login" href="{{ url_for('login')}}"> Login </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}