{% extends 'index.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <h2> Create Account </h2>
            <form method="POST">
                <div class="input_field">
                    <input id="username" name="username" placeholder="Username" required>
                </div>
                <div class="input_field">
                        <input type="email" id="email" name="email" placeholder="Email">
                </div>
                <div class="input_field">
                    <input type="password" name="password" placeholder="Password">
                </div>

                {% for message in get_flashed_messages() %}
                    <div class="flash"> {{ message }} </div>
                {% endfor %}
                
                <div class="input_field">
                    <input type="submit" value="REGISTER">
                </div>
                
            </form>
        </div>   
    </div>

{% endblock %}